*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  margin: 80px 180px;
}

h1 {
  font-size: 50px;
}

.notes-container {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
